section
{

	height:1200px;
	width: 1450px;
	background-color:#C5D4EB;
	
}
.logo3
{
	height:100px;
	width:100px;
}

a
{
	text-decoration:none;
}


.f1
{
	
	height:1100px;
	width: 1400px;


.f2
{
	width:300px;
	height:700px;
	background-color:#29C5F6
	
}

.f3
{
	
   width: 1000px;
   height:570px;
   background-color:white;
}
.f4
{
	
   width: 1000px;
   height:450px;
   background-color:white;
}


.b
{
	text-align:right;
}